* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  display: block;
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}

header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
}

header #logo {
  color: #fff;
  cursor: pointer;
  /*font-style: oblique;*/
  font-weight: bold;
  font-family: 'Russo One', sans-serif;
}

header #logo span {
  font-size: 1.7em;
  line-height: 45px;
  margin-left: 40px;
  font-family: 'Suez One', serif;
}

#main{
  width: 100%;
  background-image: url(https://i.artfile.ru/2560x1600_520158_[www.ArtFile.ru].jpg);
  background-blend-mode: multiply;
  background-color: #2e3a44;
  background-size: cover;
  text-align: center;
  height: 1000px;
  z-index: 53;
}

#main h1{
  padding-top: 50%;
  font-size: 1.3em;
  color: white;
}


#menu #first{
  background: transparent;
  position: absolute;
  left: 1%;
  top: 100px;
  width: 20px;
  height: 50px;
  z-index: 54;
}

#menu img {
  width: 100%;
  max-width: 300px;
}

#menu #second{
  background: transparent;
  position: absolute;
  left: 1%;
  top: 200px;
  width: 20px;
  height: 50px;
  z-index: 54;
}

#menu #third{
  background: transparent;
  position: absolute;
  left: 1%;
  top: 300px;
  width: 20px;
  height: 50px;
  z-index: 54;
}
